* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 10px;
    border-radius: 5px;
    background: #ee9086;
    border: none;
}

.button_profile {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #ee9086;
    border: none;
    display: inline-block;
}

.button_two {
    display: flex;
    justify-content: space-between;
}

.a_href {
    color: rgb(112, 15, 104);
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input {
    margin: 10px 0;
    padding: 10px;
    border-color: #ee9086;
    border-radius: 5px;
    outline: none;
}

.p_form {
    margin-top: 8px;
}

.msg_error {
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: red;
}

.msg_success {
    border: 2px solid rgb(6, 190, 15);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(6, 117, 6);
}

.profile {
    color: #ee9086;
    padding-bottom: 30px;
    text-align: center;
}

.table {
    border: 2px dashed #ee9086;
    padding: 40px;
    border-radius: 5px;
}

th {
    width: 100px;
}

.button_profile {
    color: rgb(39, 39, 39);
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.profile_success {
    border: 2px solid rgb(6, 190, 15);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(6, 117, 6);
    width: 300px;
    display: block;
    margin: 0 auto;
}